{% extends 'base.html' %}

{% block title %}Groups list{% endblock title %}

{% block content %}

{% for group in grouplist %}
    <p>{{ group.groupname }}</p>
    <p>{{ group.description }}</p>
    <a href="{% url 'users_and_groups:edit_group' group.groupname %}">
        <button type="submit">Edit group</button>
    </a>

    <a href="{% url 'users_and_groups:delete_group' group.groupname %}">
        <button type="submit">Delete group</button>
    </a>
    <br>
    <hr>
{% endfor %}

<form action="{% url 'users_and_groups:create_group' %}",
               method="POST",
               id='create_group'>
{% csrf_token %}
<input type='text', placeholder='group name', name='groupname' />
<textarea placeholder='group description', name='description'>
</textarea>
<button type="submit">Add Group</button>
</form>

{% endblock content %}