{% extends 'base.html' %}
{% load static %}%}
{% block title %}
Users
{% endblock title %}

{% block content %}

{% for user in userlist %}
  <p>{{ user }}</p>
  <p>{{ user.created }}</p>
  <p>{{ user.user_group }}</p>
  <a href="{% url 'users_and_groups:edit_user' user.username %}">
  <button type="submit">Edit user</button>
  </a>

  <a href="{% url 'users_and_groups:delete_user' user.username %}">
    <button type="submit">Delete user</button>
  </a>

  <br>
  <hr>
{% endfor %}

<form action="{% url 'users_and_groups:create_user' %}",
      method="POST"
      id='create_user'>
  {% csrf_token %}
  <input type='text', placeholder='username', name='username', id='username', required/>
  <select name="user_group", id='group', required>
    <option value="" disabled selected>select group</option>
    {% for group in group_query %}
      <option value={{ group.id }}>{{ group.groupname }}</option>
    {% endfor %}
  </select>
  <button type="submit">Add User</button>
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'js/users_list.js' %}"></script>
{% endblock content %}

</body>
</html>
